.scene-video {
    width: 100%;
    height: 100vh;

    &-relative {
        position: relative;
        width: 100%;
        height: 100%;

        .playing-video {
            position: absolute;
        }

        .position {
            &-top-left {
                top: 0;
                left: 0;
            }

            &-top-right {
                top: 0;
                right: 0;
            }

            &-bottom-left {
                bottom: 0;
                left: 0;
            }

            &-bottom-right {
                bottom: 0;
                right: 0;
            }
        }
    }
}