.scene-video {
  width: 100%;
  height: 50vh;
  padding: 0 24px;

  .scene-video-content-text-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 48px 2px 18px 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    .scene-video-content-text {
      border: 2px solid black;
      width: 100%;
      padding: 12px;
      text-align: center;
      border-radius: 24px;

      &-paragraph {
        padding: 12px;
      }
    }
  }

  @media screen and (min-width: $screen-lg) {
    height: 75vh;
  }

  &-relative {
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    height: 100%;

    .video-wrapper {
      position: absolute;

      .video-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .playing-video {
          border-radius: 12px;
          border: 2px solid black;
          width: 200px;

          @media screen and (min-width: $screen-md) {
            width: 350px;
          }

          @media screen and (min-width: $screen-lg) {
            width: 500px;
          }
        }

        .shadow-wrapper {
          position: absolute;
          bottom: -40px;
          left: 0;
          img {
            width: 100%;
            height: auto;
            display: block;
          }
        }
      }
    }

    .position {
      &-top-left {
        top: 0;
        left: 0;
      }

      &-top-right {
        top: 0;
        right: 0;
      }

      &-bottom-left {
        bottom: 0;
        left: 0;
      }

      &-bottom-right {
        bottom: 0;
        right: 0;
      }
    }
  }
}
