@import './variables.scss';
@import './font.scss';
@import './components/components.scss';

body {
    font-family: $font-default;

    .app-container {
        width: 100%;
        height: auto;
    }

    .hidden {
        display: none;
    }
}